Handbook.csproj.nuget.dgspec.json
Handbook.csproj.nuget.gprops
Handbook.AssemblyInfoInputs.cache
Handbook.AssemblyInfo.cs
Handbook.assests.cache
Handbook.GeneratedMSBuildEditorConfig.editorconfig
project.assets.json
project.nuget.cache
project.appsettings.csv
appsettings.csv
