@{
}
<h1>@Html.Encode(ViewData["Title"])</h1>

<!--@Html.ActionLink("Logout","MemberLogout", "HomeController")
<input type="button" value="logout" onclick="location.href='<%: Url.Action("MemberLogout", "HomeController") %>'" />-->
<br>
<p>Welcome @ViewData["UserID"] @Html.Encode(ViewData["UserName"]) on @Html.Encode(ViewData["Day"])</p>
<hr>
<form method="post" action="/Home/MemberDelete">
    <button type="submit">Delete User?</button>
    <input type="hidden" value=@ViewData["UserID"] name="UserID" />
</form>
