@{
}

<h1>@Html.Encode(ViewData["Title"])</h1>
<br>
<form method="post" action="/Home/CreateUser">
    <button type="submit">CreateUser</button>
</form>
<form method="post" action="/Home/MemberLogin">  
    <label for="txtName">UserName:</label>  
    <input type="text" id="txtName" name="UserName" />  

    <label for="txtMail">Email:</label>  
    <input type="text" id="txtMail" name="Email" />

    <label for="txtWord">Passwrord:</label>  
    <input type="text" id="txtWord" name="Password" />

    <button type="submit">Submit</button>  

</form>
<br>
<p>@Html.Encode(ViewData["body"])</p>