<h1>@Html.Encode(ViewData["Title"])</h1>
<h2>@Html.Encode(ViewData["UserName"])</h2>
<br>

@{
    if(ViewData["UserID"]!=null){
        <p>Logged in as @ViewData["UserName"]!</p>
        <form method="post" action="/Home/ReLogin"><button type="submit">Member Homepage</button></form>
        <form method="post" action="/Home/LogOut"><button type="submit">Log Out</button></form>
    }else{
        <form method="post" action="/Home/NewUser"><button type="submit">Create New User</button></form><hr><form method="post" action="/Home/MemberLogin"><label for="txtName">UserName:</label><input type="text" id="txtName" name="UserName" /><label for="txtMail">Email:</label><input type="text" id="txtMail" name="Email" /><label for="txtWord">Password:</label><input type="Password" id="txtWord" name="Password" /><button type="submit">Log In</button></form> 
    }
}

<br>
<p>@ViewData["body"]</p>
