@{
}

<h1>@Html.Encode(ViewData["Title"])</h1>
<br>
<form method="post" action="/Home/NewUser">
    <button type="submit">Create New User</button>
    
</form>
<hr>
<form method="post" action="/Home/MemberLogin">  
    <label for="txtName">UserName:</label>  
    <input type="text" id="txtName" name="UserName" />  

    <label for="txtMail">Email:</label>  
    <input type="text" id="txtMail" name="Email" />

    <label for="txtWord">Password:</label>  
    <input type="Password" id="txtWord" name="Password" />

    <button type="submit">Submit</button>  

</form>
<br>
<p>@Html.Encode(ViewData["body"])</p>