<h1>Create Resource</h1>
<hr>
<form method="post" action="/Home/CreateResource" >
    <label for="txtTitle">Title:</label> 
    <br>
    <input type="text" id="txtTitle" name="Title"/>
    <br>   
    <label for="txtCategory">Category:</label> 
    <br>
    <input type="text" id="txtCategory" name="Category"/>
    <br>   
    <label for="txtZip">Zip:</label> 
    <br>
    <input type="text" id="txtZip" name="Zip"/>
    <br>
    <label for="txtProvider">Provider:</label>  
    <br>
    <input type="text" id="txtProvider" name="Provider"/>
    <br>
    <label for="txtDetails">Details:</label>  
    <br>
    <input type="text" id="txtDetails" name="Details"/>
    <br>
    <button type="submit">Create</button>
</form>
