@{
    ViewData["Title"] = "Resource Database";
    //ViewData["Model"] = "";
}
<h1>@ViewData["Title"]</h1>

<h2>Welcome to our resources database service!</h2>
<form method="post" action="/Home/ResourceBatch">
    <button type="submit">Load Resources</button>
</form>
<hr>

<img src="\imgs\tsb_new_logo_registered_tm.png" alt=" It didn't work.">

@{
    try{
        if(ViewBag.loadBool){
            List<string[]> list = ViewBag.resource;
            foreach(string[] strings in list){
                <div style="border:solid;">
                    <form method="post" style="float:left;">
                        <input type="hidden" id="ResourceID" name="ResourceID" value=@strings[0]/>
                        <input type="image" src="imgs\tsb_new_logo_registered_tm.png" alt="Or Click Me" asp-controller="Home" asp-action="ResourcePage">
                    </form>

                    <h2>@strings[1]</h2><p>@strings[3]</p>
                    <br>
                    <p>@strings[5]</p>
                </div>
            }
            
        }
    }catch(Exception e){
        Console.WriteLine(e);
    }
    
}
<hr>
<form method="post" action="/Home/toCreateResource">
    <button type="submit">Create New Resources</button>
</form>


