@{
    ViewData["Title"] = "FAQ";
}
<h1>Frequently Asked Questions</h1>

<h2>What is Liberty's Handbook?</h2>
    <p>Liberty's handbook is a project that is meant to help new immigrants to the United States get their footing in their new home. It consists of two main features:</p>
    <ul>
        <li>A database of useful resources that scrapes the web for useful resources based on one's needs and location</li>
        <li>A document translation service that allows the user to upload an English PDF file, such as a job application or federal document, and have it returned in their native language of choice</li>
    </ul>

<h2>How does the information database work?</h2>
    <p>Howto information goes here.</p>
    
<h2>How does the document translation work?</h2>
    <p>document translation information goes here.</p>