@{
    ViewData["Title"] = "Welcome Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Liberty's Handbook</h1>
    <p>Our goal is to build community through connecting individuals through resources in the community. We empower our users with useful knowledge and help for adjusting to their new home!</p>
    <p>We provide a <a href="@Url.Action("Database", "Home")">a database of a wide range of resources</a> available to both global audionces and resources local to you. In order to save resources  or to use our translation api powered by Google Cloud Translation v3 please create an account or login under <a href="@Url.Action("Member", "Home")">the members page</a>.</p>
</div>
