@{
    ViewData["Title"] = "Welcome Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Liberty's Handbook</h1>
    <p>Our goal is to empower our users with useful knowledge and help for adjusting to their new home!</p>
    <p>View our FAQ tab <a href="@Url.Action("FAQ", "Home")">here</a>, or click one of the tabs above to get started!</p>
</div>
