@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All resource data stored on this site is publicly accessible and links to provider websites are included where applicable. By creating an account you are acknowledging the light security provided by this proof of concept project. Please do not store sensitive information on server.</p>
